*runs/*
*-dep*
*writing/*
*presentations/*
*.pper
*Rproj*
.Rproj.user/2B1B628E/sources/prop/INDEX
.Rproj.user/2B1B628E/sources/prop/D57FD08
.Rproj.user/2B1B628E/sources/prop/C9A3E4B0
.Rproj.user/2B1B628E/sources/prop/7D263E95
.Rproj.user/2B1B628E/sources/prop/5B76292
.Rproj.user/2B1B628E/sources/per/t/F5890F48-contents
.Rproj.user/2B1B628E/sources/per/t/F5890F48
.Rproj.user/2B1B628E/sources/per/t/EF144664-contents
.Rproj.user/2B1B628E/sources/per/t/EF144664
.Rproj.user/2B1B628E/sources/per/t/7F0AE6DA-contents
.Rproj.user/2B1B628E/sources/per/t/7F0AE6DA
.Rproj.user/2B1B628E/sources/per/t/60A8BF45-contents
.Rproj.user/2B1B628E/sources/per/t/60A8BF45
.Rproj.user/2B1B628E/sources/per/t/21F3DDFF-contents
.Rproj.user/2B1B628E/sources/per/t/21F3DDFF
.Rproj.user/2B1B628E/pcs/windowlayoutstate.pper
.Rproj.user/2B1B628E/pcs/source-pane.pper
.Rproj.user/2B1B628E/pcs/files-pane.pper
*.txt
*.txt
*.xls
*.csv
*.xlsx
*.zip
*.pper
.RData
*Rhistory*
vast-examples/SAB2021-update-VAST-SAVE.RData
